<!DOCTYPE html>
<html lang="de">
<head>
    <%- include('./head'); %>
    <title>Wetter</title>
</head>
<body>
    <header>
        <!--Navigationsleiste-->
        <%- include('./header'); %>
    </header>
    
    <main>
        <div class="container">
            <h1>Wetter</h1>
            <p>Aktuelle Temperatur:</p>
            <p> <%= temperatur %> </p>
            <p> <%= city %> </p>
            <p> <a href="/weather/api/heute">Wetter Api Heute</a> </p>
            <p> <a href="/weather/api/woche">Wetter Api Woche</a> </p>
           
        </div>
    </main>

    <%- include('./footer'); %>
</body>
</html>